.padding-40{
    padding: 40px 0 40px 0;
}

.wrapper-padding{
    padding: 40px 20px 40px 20px;
}
.margin-top-20{
    margin-top: 20px;
}
.margin-top-30{
    margin-top: 30px;
}
.margin-top-40{
    margin-top: 40px;
}
.margin-top-50{
    margin-top: 50px;
}
.margin-top-60{
    margin-top: 60px;
}
.min-width-250{
    min-width: 250px;
}
.margin-bottom-40{
    margin-bottom: 40px;
}
.margin-bottom-30{
    margin-bottom: 30px;
}.margin-bottom-20{
    margin-bottom: 20px;
}
.fade.in {
    opacity: 1;
}
.padding-bottom-30 {
    padding-bottom: 30px;
}
.note-editor .note-toolbar.panel-heading {
    background-color: #eee;
}

.bootstrap-tagsinput .tag {
    margin-right: 2px !important;
    color: #444 !important;
    font-size: 14px!important;
    line-height: 24px !important;
    padding: 3px 10px !important;
    border-radius: 3px !important;
    border: 1px solid #e2e2e2 !important;
}
.bootstrap-tagsinput {
    line-height: 32px !important;
    display: block !important;
}

.sidebar-header {
    background: #ffffff ;
}


.switch {
    position: relative;
    display: block;
    width: 86px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "Hide";
    height: 26px;
    width: 50px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 26px;
}

input:checked + .slider {
    background-color: #2196F3;
}
input:checked + .slider:before {
    content: "Show";
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.max-height-120{
    max-height: 120px;
}
.max-height-150{
    max-height: 150px;
}